// grid

gridsystem-width(_columns=columns)
	(gutter-width + column-width) * _columns

total-width = 100%

body
	@extend $clearfix
	width: 100%

// 为何要往两边扩大。。
row(_columns=columns)
	@extend $clearfix
	display: block
	width: total-width * ((gridsystem-width(_columns) + gutter-wdith) / gridsystem-width(_columns))
	margin: 0 total-width * (((gutter-width * 0.5) / gridsystem-width(_columns)) * -1)

// 响应式的一列
column(x, _columns=columns)
	display: inline
	float: left
	width: total-width * ((((gutter-width + column-width) * _columns) - gutter-width) / gridsystem-width(_columns))
	margin: 0 total-width * ((gutter-width * 0.5) / gridsystem-width(_columns))

// 左偏移多少列
push(offset=1)
	margin-left: total-width * (((gutter-width + column-width) * offset) / gridsystem-width(_columns))

// 右偏移多少列
pull(offset=1)
	margin-right: total-width * (((gutter-width + column-width) * offset) / gridsystem-width(_columns))


