// config
vendor-prefixes = webkit moz ms official

// color
color-background = #ccc


// layout
block-margin = 50px
article-padding = 20px
mobile-nav-width = 280px
mainbar-columns = 9
sidebar-columns = 3

_columns = mainbar-columns + sidebar-columns

// grid 参数
gutter-width = 20px
column-width = 80px



