// config
vendor-prefixes = webkit moz ms official

// color
color-background = #f5f8f9
color-global = #565a5f

// Header
header-height = 64px
header-bgColor = #fff 
header-padding = 20px
header-inner-width = 1420px
header-padding-row = 15px
header-padding-col = 12px
header-padding = header-padding-col header-padding-row
color-nav = color-global
color-nav-active = #38b7ea

// layout
block-margin = 50px
article-padding = 20px
mobile-nav-width = 280px
mainbar-columns = 9
sidebar-columns = 3

_columns = mainbar-columns + sidebar-columns

// grid 参数
gutter-width = 20px
column-width = 80px



